.colaboradores-wrapper {
    display        : flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items    : center;
    height         : 300px;

    overflow-y        : scroll;
    -ms-overflow-style: none;
    scrollbar-width   : none;

    &::-webkit-scrollbar {
        display: none;
    }

    @media screen and(min-width: $tablet) {
        height         : 500px;    
    }

    @media screen and(min-width: $desktop) {
        height         : 800px;
    }
}

.box {
    background-color: $branco;
    width           : 48%;
    height          : 200px;
    display         : flex;
    flex-direction  : column;
    justify-content : center;
    align-items     : center;
    margin-right    : 2%;
    margin-bottom   : 5%;
    cursor          : pointer;
    @extend %box-shadow01;

    @media screen and(min-width: $tablet) {
        margin-right : 0;
        margin-bottom: 2%;
        height          : 250px;
    }

    @media screen and(min-width: $desktop) {
        width         : 32%;
        height        : 200px;
        flex-direction: row;
    }

    .imagem-wrapper {
        position: relative;
    }

    .id {
        font-size       : 1.5em;
        color           : $azul01;
        font-weight     : 700;
        display         : flex;
        justify-content : center;
        align-items     : center;
        width           : 1.8em;
        height          : 1.8em;
        border-radius   : 50%;
        background-color: $azul02;
        position        : absolute;
        right           : 10%;
    }

    img {
        display: block;
        padding: 0 1.5em 0 2em;
        width: 100%;
    }

    .nome {
        color      : $azul01;
        font-size  : 1.5em;
        font-weight: 700;
        text-align : center;

        @media screen and (min-width: $desktop) {
            text-align: left;
        }
    }

    .cargo {
        color     : $cinza03;
        font-size : 1.25em;
        text-align: center;

        @media screen and (min-width: $desktop) {
            text-align: left;
        }
    }

    .idade {
        display: none;
    }

    &.ativo {
        background-color: $azul03;

        .nome,
        .cargo {
            color: $branco !important;
        }
    }
}