.destaque {
    width: 100%;
    background-color: $branco;
    display         : flex;
    align-items     : center;
    padding: 2em 0;
    margin-bottom: 3%;
    @extend %box-shadow01;

    @media screen and (min-width: $desktop) {
       
    }

    img {
        display     : block;
        padding-left: 2em;
    }

    &-informacoes {
        padding-left: 2em;

        div {
            display    : flex;
            align-items: baseline;

            .campo-titulo {
                font-size     : 1.25em;
                text-transform: uppercase;
                color         : $cinza03;
                padding-right : 0.5em;
            }

            .campo-conteudo {
                font-size  : 1.5em;
                font-weight: 700;
                color      : $azul01;
            }
        }
    }
}